SERVER_PORT=9000

JWT_SECRET = the_long_line-flakes_hold_my_love_for_that_heartful_joy____sight
SESSION_SECRET_KEY=the_keY+that+will+sav_my+stufffrom-he+whomustnot_be9_named

ADMIN_NAME=Aditya Verma
ADMIN_PASSWORD=haldi

COOK_USER_NAME=chandan
COOK_NAME=Naksh Verma
COOK_PASSWORD=chandan

MYSQL_PASSWORD=114k23hiuo1i1i12i
MYSQL_USERNAME=root
MYSQL_PORT=3306
MYSQL_HOST=localhost