<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <script src="/js/cart.js" defer></script>
</head>
<body>
    <h1>Cart</h1>
    <hr>
    <div>
        <h3>Current User</h3>
        <p class="curr_name">name </p>
        <p class="curr_user_name">user_name -></p>
        <p class="curr_role">role -></p>
    </div>
    <hr>
    <form class="cart_form" action="">
        <table>
            <thead>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Instruction</th>
                <th>Delete ?</th>
            </thead>
            <tbody class="cart_space">

            </tbody>
        </table>
        <button type="submit">Place Order</button>
    </form>
</body>
</html>