<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-foodopia</title>
</head>
<body>
    <h1>login</h1>
    <form method="post" action="/api/user/login">
        <label for="user_name">Enter User Name</label>
        <input type="text" name="user_name" placeholder="user123">
        
        <label for="password">Enter Password</label>
        <input type="password" name="password" placeholder="***">

        <button type="submit">Submit</button>
    </form>
    <% if (err) { %>
        <div>
            <h5>error</h5>
            <p><%= err %></p>
        </div>
    <% } %>
</body>
</html>