<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <div>
        <p>name -> <%= curr_user.name %></p>
    </div>
    <div>
        <p>username -> <%= curr_user.user_name %></p>
    </div>
    <div>
        <p>role -> <%= curr_user.role %></p>
    </div>
    <div>
        <span>Checkout other pages</span></br>
        <a href="/static/menu">
            <button>Menu</button>
        </a>
        </br>
        <% if (curr_user.role === "cook") { %>
        <a href="/static/cook">
            <button>manage cooking items</button>
        </a>
        <% } %>
        
        <form action="/api/user/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>