<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userlist</title>
</head>
<body>
    <h3>ADMIN : all users</h3>

    <% if (toHomePage) { %>
        <table>
            <thead>
                <th>S.no</th>
                <th>ShortID</th>
                <th>Redirect to</th>
                <th>Num Clicks</th>
                <th>Visit Now</th>
            </thead>
            <tbody>
                <% toHomePage.forEach((element,index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= element.shortID %></td>
                        <td><%= element.url %></td>
                        <td><%= element.num_visits %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>

    <form method="POST" action="http://localhost:8001/url">
        <label for="url">Enter new URL</label>
        <input type="text" placeholder="https://example.com" name = "url">
        <button type="submit">Generate</button>
    </form>
</body>
</html> 