@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

.caveat-cursive {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.truculenta-normal {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.vh-50{
    height: 50vh;
}

.bg-image{
    background-image: url("/images/homepage_table.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-page-logo{
    font-size: 5rem;
    backdrop-filter: blur(0.2rem);
    color: #06516a;
    background: rgba(220,220,240,0.5)
}

.user-profile{
    background-color: #8fa5acad;
}

.fs-large{
    font-size: xx-large;
}